<div class="social-links">
    <ul>
        <li>
            <a href="#" target="_blank" class="social-link-item">
                <i class="fa fa-fw fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" class="social-link-item">
                <i class="fa fa-fw fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" class="social-link-item">
                <i class="fa fa-fw fa-google-plus"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" class="social-link-item">
                <i class="fa fa-fw fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" class="social-link-item">
                <i class="fa fa-fw fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" class="social-link-item">
                <i class="fa fa-fw fa-github"></i>
            </a>
        </li>
    </ul>
</div>
